<% if (errorMessages && errorMessages.length) { %>
<div class="alert alert-danger">
  <% errorMessages.forEach(msg => { %>
  <%= msg %>
  <% }) %>
</div>
<% } %>

<% if (successMessages && successMessages.length) { %>
<div class="alert alert-success d-flex align-items-start">
  <% successMessages.forEach(msg => { %>
  <%= msg %>
  <% }) %>
</div>
<% } %>